[submodule "third_party/args"]
	path = third_party/args
	url = https://github.com/Taywee/args.git
[submodule "third_party/toml11"]
	path = third_party/toml11
	url = https://github.com/ToruNiina/toml11.git
